@import url("https://fonts.google.com/specimen/Kumbh+Sans");

:root{
    /* primary */
    --Dark_cyan: hsl(185, 75%, 39%);
    --Very_dark_desaturated_blue: hsl(229, 23%, 23%);
    --Dark_grayish_blue: hsl(227, 10%, 46%);

    /* neutral */
    --Dark_gray: hsl(0, 0%, 59%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}


.container{
    background-color: var(--Dark_cyan);
    width: 100%;
    height: 100vh;
    /* margin: auto; */
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    font-family: ;
}


#box{
    width: 25%;
    background-color: white;
    margin: auto;
    border-radius: 15px;
    position: relative;
    z-index: 3;
}

#blue-bubbles{
    width: 100%;
    border-top-right-radius:15px;
    border-top-left-radius:15px;
}

#victor{
    position: relative;
    bottom: 52px;
    border:  5px solid white;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    color: var(--Very_dark_desaturated_blue);
}

span{
    font-size: 18px;
    font-weight: 400;
    color: var(--Dark_gray);
    padding-left: 6px;
}

h2{
    font-weight: 400;
    font-size: 16px;
    color: var(--Dark_gray);
}

.profile-info{
    position: relative;
    width: auto;
    text-align: center;
    bottom: 30px;
    margin: auto;
}

#footer{
    display: flex;
    margin-top: 15px;
    margin-bottom: 20px;
    color: var(--Very_dark_desaturated_blue);
}

.items{
    padding-top: 10px;
    margin: auto;
    margin-bottom: auto;
    margin-bottom: auto;
    text-align: center;
}

.bg{
    position: absolute;
}

#top-bg{
    top: -500px;
    left: -360px; 
    
}

#bottom-bg{
    bottom: -680px;
    right: -260px;
}

small{
    color: var(--Dark_grayish_blue);
    font-size: 12px;
}